# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.dll
*.dll.embed.manifest
*.dll.embed.manifest.res
*.dll.intermediate.manifest
*.dll.resource.txt
*.dylib
*.exe
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.exe.resource.txt
*.exp
*.ilk
*.lib
*.pdb
*.pyc
*~
/.generated_breakdancer_testsuite.h
/CMakeCache.txt
/CMakeFiles/
/Makefile
/bucket_engine_testapp
/cmake_install.cmake
/engine_testapp
/isasladm
/mcbasher
/mcstat
/memcached
/memcached_testapp
/sizes
/timedrun
